<!DOCTYPE html>
{% load static %}
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>📚 Enco Library Chatbot</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css"
    />
    <link rel="stylesheet" href="{% static 'mainapp/style.css' %}" />
    <meta name="csrf-token" content="{{ csrf_token }}" />
  </head>
  <body>
    <header>📚 Enco Library</header>
    <main>
      <div class="container">
        <!-- <div class="sidebar">
          <div class="log-title">📑 대화 기록</div>
          <div class="chat-log"></div>
        </div> -->
        <div class="chat-room">
          <div class="chatting" id="chatting"></div>
          <div class="message-input">
            <input
              type="text"
              id="user-input"
              placeholder="질문양식: 제목이 {제목}인 책에 대해서 알려줘 {작가이름} 작가의 책을 알려줘 {분야} 책을 알려줘"
            />
            <button onclick="sendMessage()">전송</button>
          </div>
        </div>
      </div>
    </main>
    <script>
      let currentChat = [];
      let chatHistory = [];
      const userInput = document.getElementById("user-input");
      const chatting = document.getElementById("chatting");
      const chatLog = document.querySelector(".chat-log");

      // 메시지 추가
      function appendMessage(content, sender) {
        const messageDiv = document.createElement("div");
        messageDiv.classList.add("message", sender);

        if (sender === "chatbot") {
          const typingSpan = document.createElement("span");
          messageDiv.appendChild(typingSpan);
          chatting.appendChild(messageDiv);

          let index = 0;

          //글자 효과 추가하기
          function typeEffect() {
            if (index < content.length) {
              typingSpan.textContent += content[index];
              index++;
              setTimeout(typeEffect, 50);
            }
          }

          typeEffect();
        } else {
          messageDiv.textContent = content;
          chatting.appendChild(messageDiv);
        }

        chatting.scrollTop = chatting.scrollHeight; // 스크롤 유지
      }

      // 메시지 전송
      function sendMessage() {
        const userMessage = userInput.value.trim();
        if (userMessage) {
          appendMessage(userMessage, "user");
          currentChat.push({ sender: "user", content: userMessage });

          userInput.value = "";
          const csrfToken = document.querySelector(
            'meta[name="csrf-token"]'
          ).content;

          fetch("{% url 'get_response' %}", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": csrfToken,
            },
            body: JSON.stringify({ message: userMessage }),
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.response) {
                const chatbotMessage = data.response;
                appendMessage(chatbotMessage, "chatbot");
                currentChat.push({
                  sender: "chatbot",
                  content: chatbotMessage,
                });
              } else {
                appendMessage("오류가 발생했습니다", "chatbot");
              }
            })
            .catch((error) => {
              console.error("Error", error);
              appendMessage("서버와 통신 중 오류가 발생했습니다", "chatbot");
            });
        }
      }

      userInput.addEventListener("keypress", (event) => {
        if (event.key === "Enter") {
          event.preventDefault();
          sendMessage();
        }
      });
    </script>
  </body>
</html>
